//- demo: true
mixin footer(args)
	include cssmodule
	+module('div', css.module, args)
		- var args = item
		div(class=css.logo)
					a(href="index.html"): img(src=set(args, 'logo', 'img/logo-light.png'), alt="")
		div(class="container")
			div(class=css.wrapper)
				div(class=css.social)
					-
						var social = [
							{
								icon: 'icofont icofont-social-facebook'
							},
							{
								icon: 'icofont icofont-social-twitter'
							},
							{
								icon: 'icofont icofont-social-instagram'
							},
							{
								icon: 'icofont icofont-brand-linkedin'
							},
							{
								icon: 'icofont icofont-social-behance'
							},
						]
					
					//- Args: icon, text
					+socialicon({
						loop: {
							data: social
						}
					})
				include cssmodule
				p(class=css.copy)!= global_copy	
